.datepicker {
    display: flex;
    flex-direction: column;
    position: relative;

    &__label {
        position: absolute;
        top: 0.75em;
        left: 1.5em;
        font-size: 0.8em;
        transition: 0.2s all;
        color: #333;
        z-index: 2;
    }

    &__date {
        background-color: transparent;
        padding: .75em;
        border-radius: 4px;
        z-index: 1;
        width: 100%;
        border: 1px solid black;
    }

    &:focus-within > &__date {
        z-index: 1;
    }

    &:focus-within > &__label {
        top: -.75em;
        left: 1em;
        padding: 0 0.2em;
        background-color: #f5f5f5;
        color: #000;
        z-index: 2;
    }

    &__label-typed {
        top: -.75em;
        left: 1em;
        padding: 0 0.2em;
        background-color: #f5f5f5;
        color: #000;
        z-index: 2;
    }

    &__date-typed {
        z-index: 1;
    }
}

.react-datepicker-popper {
    z-index: 9999 !important;
}

